
  
   
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  :root {
    --bg:  #fff;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #6b7075;  
    --border-radius: 8px;
    --speed: 300ms; 
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
    
  
  /* Dropdown Menu */
  p.menuTitle{
    margin: 0;
    padding: 10px 5px;
    border-bottom: 1px solid #eee;
  }
  p.menuTitle h4{
    margin: 0;
    font-size: 14px;
    font-weight: bold;
  }
  .dropdown {
    position: absolute;
    top: 46px;
    left: 112px;
    width: 250px;
    transform: translateX(-45%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
  }
/*   
  .menu {
    width: 100%;
  } */
  
  .menu-item {
    /* height: 43px; */
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    /*  transition: var(--speed);  */
    padding: 0.5rem;
  }
  
  .menu-item .icon-button {
    margin-right: 0.5rem;
  }
  
  /* .menu-item .icon-button:hover {
    filter: none;
  } */
  
  .menu-item:hover {
    background-color: rgb(41, 41, 134);
    color:#fff
  }
  
  .icon-right {
    margin-left: auto;
  }
  
  /* CSSTransition classes  */
  .menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
  }
  .menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-primary-exit {
    position: absolute;
  }
  .menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }
  
  .menu-secondary-enter {
    transform: translateX(110%);
  }
  .menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
  }

  .caret-icon img {
	width: 40px !important;
	height: 40px !important;
  }


  .navbar-default {
      background-color: var(--header-color);
  }
  
  .header-text-color {
    color: var(--header-text);
  }
  
.menuLink{
	display: flex;
    justify-content: space-around;
    padding: 24px 0;
}
.menuLink .filledLink{
	background-color:var(--base-color);
    padding: 5px 10px;
    border-radius: 20px;
    color: #fff;
    font-size: 15px;
}
.menuLink .normalLink{
  padding: 5px 10px;
  font-size: 15px;  
}


.headerMenu{
	display: flex;
	flex-direction: column;
}
.headerMenu .top{
	padding:30px;
	display: flex;
	flex-direction: column;
	background-color: var(--header-color);
}
.headerMenu .bottom{
	background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    /* padding: 50px 0; */
}
.form-div{
  margin: 1em;
}
.profileInner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 3px;
  position: relative;
}
.profileImage {
  display: flex;
  justify-content: center; 
  width: 30%;
}

.profileImage img {
  background: var(--base-color);
  width: 80px;
  height: 80px;
  border-radius: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.profileDetails{
  padding-left: 16px;
  width: 70%;
}
.profileDetails h1{
	font-size: 18px;
    color: var(--black-color);
}
.profileDetails p{
	color: var(--bg-color);
	font-size: 16px;
}
.profileDetails .checkbox-text{
  margin: 0.25em;
  font-size: 12px;
  color: black;
}
.flex{
  display: flex;
}
.signout-btn{
  margin-top: 1em;
  margin-bottom: 1em;
  background: var(--base-color);
  color: var(--white-color);
  padding: 6px 12px 6px 12px;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
	font-size: 18px;
}
.bottom{
	background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  margin-top: 6em;
}